# Frontend
# Ignore node_modules folder
node_modules
# Ignore all node_modules folders
frontend/node_modules/
backend/node_modules/


frontend/build
frontend/.env

# Backend
backend/node_modules
backend/.env

# System files
.DS_Store
